body {
  @apply min-h-screen text-gray-800;
}
#__nuxt {
  @apply w-full flex flex-col items-center;
}
[data-v-tippy] {
  padding: 0 0.25rem;
  cursor: pointer;
}
.tippy-box[data-theme~="light"] {
  border-radius: 10px !important;
  box-shadow: 0 0 20px 4px rgb(168 183 219 / 15%), 0 4px 80px -8px rgb(144 157 179 / 25%),
    0 4px 4px -2px rgb(251 251 251 / 15%) !important;
}
