name: Scheduled Health Check
on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"
jobs:
  health_check_job:
    runs-on: ubuntu-latest
    name: Check all sites
    steps:
      - uses: actions/checkout@v2
      - name: Run Shell Script
        id: shell_script_run
        run: bash ./script/health-check.sh
